<!-- javascript assets for rmarkdown -->
<meta name="pkgdown-site-root" content="{{#site}}{{root}}{{/site}}">
<script src="{{#site}}{{root}}{{/site}}ace-1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{#site}}{{root}}{{/site}}holder-2.9.0/holder.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{#site}}{{root}}{{/site}}snippets/snippets.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
.snippet {
  border: solid 1px #cccccc;
  margin-bottom: 12px;
  width: 100%;
}
</style>
{{#includes}}{{{in_header}}}{{/includes}}
