on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  release:
    types: [published]
  workflow_dispatch:

name: pkgdown

jobs:
  pkgdown:
    if: ${{ github.event_name == 'push' || startsWith(github.head_ref, 'pkgdown/') }}
    runs-on: ubuntu-latest
    # Only restrict concurrency for non-PR jobs
    concurrency:
      group: pkgdown-${{ github.event_name != 'pull_request' || github.run_id }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@HEAD

      - uses: r-lib/actions/setup-pandoc@HEAD

      - uses: r-lib/actions/setup-r@HEAD
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@HEAD
        with:
          extra-packages: any::pkgdown, local::.
          needs: website

      - name: Install optipng
        # required to optimize images
        run: |
          sudo apt-get update -y
          sudo apt-get install -y optipng

      - name: Cache some pkgdown assets
        uses: actions/cache@HEAD
        with:
          path: |
            vignettes/articles/images/*.png
          key: 1-${{ hashFiles('vignettes/articles/examples.yml') }}

      - name: Build pkgdown site
        run: pkgdown::build_site(new_process = FALSE, install = FALSE)
        shell: Rscript {0}

      - name: Deploy to Netlify
        id: netlify-deploy
        uses: nwtgck/actions-netlify@v2
        with:
          publish-dir: 'reference'
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message:
            'Deploy from GHA: ${{ github.event.head_commit.message }} (${{ github.sha }})'
          enable-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true
          alias: deploy-preview-${{ github.event.number }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
