# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches: main
    paths-ignore:
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE'
      - '.github/workflows/bookdown.yaml'
      - '_pkgdown.yml'
      - 'pkgdown/**'
      - '.github/workflows/pkgdown.yaml'
  pull_request:
    branches: main
    paths-ignore:
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE'
      - '.github/workflows/bookdown.yaml'
      - '_pkgdown.yml'
      - 'pkgdown/**'
      - '.github/workflows/pkgdown.yaml'

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release'}
          - {os: ubuntu-20.04, r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-20.04, r: 'release'}
          - {os: ubuntu-20.04, r: 'oldrel'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        id: install-r
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Install Hugo using blogdown
        run: |
          pak::local_install()
          blogdown::install_hugo()
          blogdown::hugo_version()
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2

      - name: Test coverage
        if: success() && runner.os == 'Linux' && matrix.config.r == 'release'
        run: |
          pak::pkg_install('covr')
          covr::codecov()
        shell: Rscript {0}
